<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-dns2" 
    version="1.0.3">

    <name>DNS</name>
    <description>Manually resolve DNS hostnames to IPs for diagnosing network setup.</description>
    <author>Brent Atkinson</author>
    <keywords>dns</keywords>
    <license>MIT</license>

    <js-module src="www/dnsplugin.js" name="DNSPlugin">
        <clobbers target="cordova.plugins.dns" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DNSPlugin">
                <param name="android-package" value="com.zegeba.plugin.DNSPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/DNSPlugin.java" target-dir="src/com/zegeba/plugin" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DNSPlugin">
                <param name="ios-package" value="DNSPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/DNSPlugin.h" />
        <source-file src="src/ios/DNSPlugin.m" />
        <framework src="CFNetwork.framework" weak="true" />
    </platform>

     <platform name="electron">
        <framework src="./src/electron" />
    </platform>
</plugin>
